<template>
  <div id="app">
    <DonateForm />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import DonateForm from "./components/donate-form.vue";

@Component({
  components: {
    DonateForm
  }
})

export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  background-color: #f0f0f0;
}
</style>
