<template>
  <div class="donate-form">
    <div>
      <div class="presets">
        <button
          v-on:click="setPreset(presetItem)"
          v-for="presetItem in presets"
          v-bind:key="presetItem"
          :class="{ active: presetItem === amount}"
        >
          {{ currencyObj.symbol }} {{ presetItem }}
        </button>
      </div>
      <form v-on:submit.prevent="handleSubmit">
        <fieldset>
          <label for="amount">{{ currencyObj.symbol }}</label>
          <input v-on:input="handleAmountChange" v-model="amount" id="amount" name="amount" />
        </fieldset>
        <fieldset>
          <label for="currency"></label>
          <select v-on:change="changeCurrency" v-model="currency" id="currency" name="currency">
            <option
              v-for="curr in currencies"
              v-bind:value="curr.code"
              v-bind:key="curr.code"
            >
              {{ curr.name }}
            </option>
          </select>
        </fieldset>
        <button type="submit" :disable="this.$store.state.requesting">
          Donate
        </button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { format, deFormat } from '../helpers/money'

interface CurrencyType {
  name: string;
  code: string;
  symbol: string;
  rate: number;
}

@Component
export default class DonateForm extends Vue {

  private currencies: CurrencyType[];

  constructor() {
    super();
    this.currencies = this.$store.state.currencies;
  }

  get amount():string {
    return this.$store.state.amount
  }

  set amount(amount) {
      this.handleAmountChange(amount)
  } 

  get currency():string {
      return this.$store.state.currency
  }

  set currency(currency) {
      this.changeCurrency(currency)
  }

  get currencyObj(): CurrencyType {
      const { currencies, currency } = this.$store.state;
      const curr = this.currencies.find(item => item.code === currency);
      return curr ? curr : this.currencies[0]
  }

  get presets():string[] {
      return this.$store.state.presets
  }

  get preset() {
      return this.amount
  }
 
  handleSubmit(): void {
    const amount = deFormat(this.amount);
    if( amount > 0 ) {
        this.$store.dispatch("fetchData", {
            amount: amount,
            currency: this.currency,
        });
    }
  }

  setPreset(preset:string): void {
      this.$store.dispatch('changeAmount', preset)
  }

  changeCurrency(currency:string):void {
      this.$store.dispatch('changeCurrency', currency)
  }

  handleAmountChange(amount:string):void {
      const value = format(amount, this.currency);
      const idx = this.presets.indexOf(value)
      if(idx != -1) {
          this.setPreset(value)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
button.active {
    background-color: blue;
    color: white;
}
</style>
